<mat-card>
  <mat-card-header>
    <mat-card-title> New Mail </mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <div class="example-container">

        <mat-form-field>
          <input matInput placeholder="To">
        </mat-form-field>
        
        <mat-form-field>
          <input matInput placeholder="Subject">
        </mat-form-field>
        
        <mat-form-field>
          <textarea matInput placeholder="Message"></textarea>
        </mat-form-field>       
        
      </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>SEND</button>    
  </mat-card-actions>
</mat-card>